html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template:
        "header header" 150px
        "aside main" auto
        "footer footer" 100px / 150px calc(100vw - 150px)
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 80% 20%;
    border: 1px solid #333;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #333;
}

#header-top img {
    max-height: 100%;
    border-radius: 50%;
    max-height: 100px;
}

#header-top img:first-child {
    filter: sepia(1);
    animation: imageFilterAnimation 5s infinite linear;
}

#header-top img:first-child:hover {
    filter: sepia(0);
    transform: scale(2) rotateY(180deg);
    padding-bottom: 15px;
}

#header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    padding: 0 15px;
}

#header-menu a {
    color: teal;
    transition: color .5s;
}

#header-menu a:hover {
    color: red;
}

aside {
    border: 1px solid #333;
    grid-area: aside;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

aside a {
    display: block;
}

main {
    border: 1px solid #333;
    grid-area: main;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 15px;
}

#section-one {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

#section-one > li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
}

#section-one > li > img {
    display: block;
    margin-bottom: 15px;
    border-radius: 20%;
}

#about-us {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    animation: borderRadiusDynamic 2s infinite linear;
}

#about-us > h2 {
    animation: textColor 2s linear infinite;
}

#about-us > h2, #about-us > p {
    margin: 0;
}

#technicians {
    position: relative;
    height: 170px;
    overflow-x: auto
}

#technicians input {
    z-index: 5;
    position: absolute;
    top: -100;
}

#technicians ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
}

#technicians:has(input[value="left"]:checked) ul {
    animation: slideAnimationLeft 20s linear infinite;
}

#technicians:has(input[value="right"]:checked) ul {
    animation: slideAnimationRight 20s linear infinite;
}

#technicians ul li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

footer {
    border: 1px solid #333;
    grid-area: footer;
}


@keyframes textColor {
    0% {
        color: #333;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@keyframes borderRadiusDynamic {
    0% {
        border-radius: 0;
    }

    50% {
        border-radius: 20px;
    }

    100% {
        border-radius: 0;
    }
}

@keyframes imageFilterAnimation {
    0% {
        filter: grayscale(0);
    }

    50% {
        filter: grayscale(1);
    }

    100% {
        filter: grayscale(0);
    }
}

@keyframes slideAnimationLeft {
    0% { left: 0%; }
    50% { left: -114%; }
    100% { left: 0; }
}

@keyframes slideAnimationRight {
    0% { right: 0%; }
    50% { right: 114%; }
    100% { right: 0; }
}
